---
import { AstroFont } from "astro-font";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="/favicon/sitemap-index.xml" />
   
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jacobcottam.xyz" />
    <meta property="og:image" content="https://jacobcottam.xyz/" />

    <!-- <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://jacobcottam.xyz/me.webp" /> -->

    <AstroFont
      config={[
        {
          name: "Inter",
          src: [
            {
              weight: "400",
              style: "normal",
              path: "./public/fonts/Inter.ttf",
            },
          ],
          preload: true,
          display: "swap",
          selector: "body > span",
          fallback: "serif",
        },
      ]}
    />
  </head>
  <body
    class="bg-darkslate-700 md:h-screen flex flex-col justify-center items-center pt05"
  >
    <slot name="loader" />
    <slot />
  </body>
</html>